

.Loading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.SectionTitle{
  margin: 80px 10px 30px;
  /* background-color: #f9f9f9; */
  border-bottom: solid 3px #aaa;
  position: relative;

  text-align: center;
  font-size: 26px;
  font-weight: 600;
  padding: 12px;
}

@media(min-width: 768px){
  .SectionTitle{
    max-width: 300px;
    margin: 80px auto 30px;
  }
}

.SectionTitle:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px grey;
  bottom: -3px;
  left: 0;
  width: 20%;
}

/* @media(min-width: 768px){
  .SectionTitle{
    margin: 0 auto 30px;
  }
} */

.Leader{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}


.LeaderImage{
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.DummyInvitation{
  width: 200px;
  height: 200px;
  background-color: #eee;
  margin: 0 auto 20px;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.InvitationImage{
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  /* padding-right: 15px; */
}

@media(min-width: 768px){
  .DummyInvitation{
    width: 300px;
    height: 300px;
  }
  .InvitationImage{
    width: 300px;
    height: 300px;
  }
}



@keyframes loading{
  0%   { background-color: #eee; }
  100% { background-color: #bbb; }
}

.Invitation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}



.InvitationURL{
  margin: 0 10px;

  max-width: 200px;
  margin: 0 10px;
  word-wrap: break-word;
  overflow: scroll;
}

@media(min-width: 768px){
  .InvitationURL{
    max-width: 300px;
    margin: 0 auto;
  }
}

.Users{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 10px;
}

@media(min-width: 768px){
  .Users{
    max-width: 300px;
    margin: 0 auto;
  }
}

.User{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 0;
  width: 30%;
}

.UserImage{
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 5px;
  background-color: #eee;
}

.Button{
  display: flex;
  justify-content: center;
  width: 100%;
}

.Forward{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

@media(min-width: 768px){
  .User{
    width: 33%;
  }
}
