.ProfileImage{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #eee;
  background-size: cover;
  background-position: center;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes loading{
  0%   { background-color: #eee; }
  100% { background-color: #bbb; }
}

.ProfileImageBox{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileImageBox p{
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
}

.ProfileImageBox svg{
  position: absolute;
  right: 41px;
  top: 22px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}

.Input{
  display: none;
}

@media(min-width: 768px){
  .ProfileImageBox svg{

  }
  .ProfileImage{
    height: 250px;
    width: 250px;

  }
}
