.ProfileImage{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-color: #eee;
}

.ProfileImageBox{
  position: relative;
}

.ProfileImageBox svg{
  position: absolute;
  right: 10px;
  top: -5px;
}

.Input{
  display: none;
}

@media(min-widthL 768px){
  .ProfileImageBox svg{
    position: absolute;
    right: -30px;
    top: -30px;
  }
}
