
.Loading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.Question{
  margin: 0 10px;
}
@media(min-width: 768px){
  .Question{
    max-width: 300px;
    margin: 0 auto;
  }
}


.SectionTitle{
  margin: 80px 10px 30px;
  /* background-color: #f9f9f9; */
  border-bottom: solid 3px #aaa;
  position: relative;

  text-align: center;
  font-size: 26px;
  font-weight: 600;
  padding: 12px;
}

@media(min-width: 768px){
  .SectionTitle{
    max-width: 300px;
    margin: 80px auto 30px;
  }
}

.SectionTitle:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px grey;
  bottom: -3px;
  left: 0;
  width: 20%;
}

.Forward{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.Note{
  margin: 0 10px;
  text-align: center;
}

@media(min-width: 768px){
  .Note{
    max-width: 300px;
    margin: 0 auto;
  }
}
.LinkBtn{
  width: 100%;
}

.Result{
  margin-top: 10px;
  height: 500px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  /* text-align: center; */
}



.Result h2{
  font-size: 40px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 5px;
}


.Result p{
  text-align: center;
}

.Users{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 10px;
}

.UserList, .RankedUsers{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}


@media(min-width: 768px){
  .Users{
    max-width: 300px;
    margin: 0 auto;
  }
}

/* .UserList{
  max-width: 300px;
  margin: 0 auto;
} */

.UserListItem{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 10px;
}

.UserImage{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-color: #eee;
}

/* .RankedUsers{
  max-width: 300px;
  margin: 0 auto;
} */

.RankedUser{

  margin-bottom: 20px;
}

.RankedUser h2{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}


.One, .Two, .Three, .ResultStatement, .ResultStatementEarly{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  font-size: 30px;
  width: 90%;
  -webkit-transform: translate(-50%,-60%);
  -moz-transform: translate(-50%,-60%);
  -ms-transform: translate(-50%,-60%);
  -o-transform: translate(-50%,-60%);
  transform: translate(-50%,-60%);
}

.WillAnimate .One,
.WillAnimate .Two,
.WillAnimate .Three,
.WillAnimate .ResultStatement,
.WillAnimate .ResultStatementEarly{
  opacity: 0;
  animation-name: count;
  animation-duration: 1s;
  animation-timing-function: ease;
}
.One,
.Two,
.Three{
  padding-bottom: 20px;
  margin: 0;
  font-size: 50px;
}

.One{
  animation-delay: 3s;
}

.Two{
  animation-delay: 2s;
}

.Three{
  animation-delay: 1s;
}

.HasAnimated .One,
.HasAnimated .Two,
.HasAnimated .Three{
  display: none;
}



.WillAnimate .ResultStatement{
  animation-name: countStay;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  text-shadow: 0 0 5px black;
}

.WillAnimate .ResultStatementEarly{
  animation-name: countStay;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  text-shadow: 0 0 5px black;
}

.HasAnimated .ResultStatement,
.HasAnimated .ResultStatementEarly{
  text-shadow: 0 0 5px black;
}




.ResultStatement h2, .ResultStatementEarly h2{
  margin: 15px 0 15px;
}

.ResultStatement p, .ResultStatementEarly p{
  font-size: 16px;
}

.Overlay, .OverlayEarly{
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}

.WillAnimate .Overlay,
.WillAnimate .OverlayEarly{
  animation-name: countStay;
  animation-fill-mode: forwards;
  animation-delay: 7s;
}

.WillAnimate .OverlayEarly{
  animation-delay: 5s;
}

.HasAnimated .Overlay,
.HasAnimated .OverlayEarly{
  opacity: 1;
}


.Content{
  opacity: 0;

}

.HasAnimated .Content{
  opacity: 1;
}

.WillAnimate .Content{
  animation-name: countStay;
  animation-fill-mode: forwards;
  animation-delay: 7s;
}

@keyframes count {
	0% { opacity: 0 }
	90% { opacity: 1 }
	100% { opacity: 0 }
}

@keyframes countStay {
	0% { opacity: 0 }
	90% { opacity: 1 }
	100% { opacity: 1 }
}
