.NavigationItem {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a, .NavigationItem button {
    color: #aaa;
    text-decoration: none;
    width: 100%;
    padding: 15px 0;
    padding-left: 20px;
    border-left: 3px solid transparent;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    display: block;
}
.NavigationItem a:hover, .NavigationItem button:hover{
    color: #000;

}

.NavigationItem a:active,
.NavigationItem a.active,
.NavigationItem button:active,
.NavigationItem button.active, {
    color: #000;
    border-left: 3px solid #000;
    /* pointer-events: none; */
}

@media (min-width: 500px) {
    .NavigationItem {
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    /* .NavigationItem a {
        color: #000;
        height: 100%;
        padding: 16px 10px;
        margin-bottom: 5px;
        border-bottom: 2px solid transparent;
    }

    .NavigationItem a:active,
    .NavigationItem a.active {
        border-bottom: 2px solid #000; */
    /* } */
    .NavigationItem a:hover,
    .NavigationItem button:hover,{
      background-color: #eee;
    }
}
