.MenuBox{
  display: flex;
  position: static;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  /* min-width: 250px; */
}

.SectionTitle{
  max-width: 180px;
  /* background-color: #f9f9f9; */
  border-bottom: solid 3px #aaa;
  position: relative;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
}

.SectionTitle:not(:first-child){
  margin: 80px auto 30px;
}

.SectionTitle:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px grey;
  bottom: -3px;
  left: 0;
  width: 20%;
}


.Note{
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

@media(min-width: 768px){
  .MenuBox{
    flex-direction: row;
    margin-top: 50px;
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
  .MenuBox a{
    width: auto;
  }
}
