
.SectionTitle{
  margin: 80px 10px 30px;
  /* background-color: #f9f9f9; */
  border-bottom: solid 3px #aaa;
  position: relative;

  text-align: center;
  font-size: 26px;
  font-weight: 600;
  padding: 12px;
}

@media(min-width: 768px){
  .SectionTitle{
    max-width: 300px;
    margin: 80px auto 30px;
  }
}

.SectionTitle:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px grey;
  bottom: -3px;
  left: 0;
  width: 20%;
}

.Forward{
  display: flex;
  justify-content: center;
  margin: 50px;
}

.Note{
  margin: 0 10px;
  text-align: center;
}

@media(min-width: 768px){
  .Note{
    max-width: 300px;
    margin: 0 auto;
  }
}
.Link{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Result{
  margin-top: 10px;
  height: 500px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.Result h2{
  font-size: 40px;
  text-align: center;
  margin-bottom: 5px;
}

/* .Users{
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto;
}

.UserList{
  max-width: 200px;
  margin: 0 auto;
}

.UserListItem{
  display: flex;
  align-items: center;

}

.UserImage{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
}

.RankedUsers{
  max-width: 200px;
  margin: 0 auto;
}

.RankedUser{

  margin-bottom: 20px;
}

.RankedUser h2{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
} */
.RankedUsers{
  max-width: 300px;
  margin: 0 auto 100px;
}

.RankedUser{

  margin-bottom: 20px;
}

.RankedUser h2{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}


.Winner{
  margin-top: 10px;
  height: 500px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}



.Winner h2{
  font-size: 20px;
  margin-bottom: 0;
}


@media(min-width: 768px){
  .Winner h2{
    font-size: 40px;
  }
}
