.Content {
    padding-top: 45px;
    z-index: 50;
}

.Home {
    padding-top: 20px;
}

.Content > div{
  /* width: 100%; */
  padding-bottom: 130px;
  /* margin: 0 auto; */
}

.BkgOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.RedCircle{
  position: absolute;
  top: -5px;
  left: -5px;
  font-size: 27px;
  color: indianred;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: indianred;
}

.ReminderSection{
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}

@media(min-width: 768px){
  .ReminderSection{

    top: 30px;

  }
}

.ChatShadow{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
}


.ChatContainer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.ChatModeOn{
  transform: translateY(0);
}

.ChatModeOff{
  transform: translateY(-100%);
}



.ModalBtnGroup{
  display: flex;
  margin-top: 15px;
}

@media(min-width: 768px){
  .Content {
      padding-top: 72px;
  }
}
