
.Loading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}


.Hint{
  margin: 30px 10px;
  text-align: center;
  color: #696969;

}

@media(min-width: 768px){
  .Hint{
    max-width: 300px;
    margin: 30px auto;
  }
}

.Question{

  margin-top: 70px;
}

/* .Question form {
  /* max-width: 300px; */
  /* margin: 0 auto; */
/* } */

.QuestionBody{
  min-height: 24px;
  font-weight: 600;
  margin: 10px 10px 0;

}

@media(min-width: 768px){
  .Question{
    margin-top: 150px;
  }
  .QuestionBody{
    max-width: 300px;
    margin: 10px auto;
  }
}

.ErrorMessage{
  color: indianred;
  padding: 10px 10px 0;
  text-align: center;
}


.SectionTitle{
  margin: 80px 10px 30px;
  /* background-color: #f9f9f9; */
  border-bottom: solid 3px #aaa;
  position: relative;

  text-align: center;
  font-size: 26px;
  font-weight: 600;
  padding: 12px;
}

@media(min-width: 768px){
  .SectionTitle{
    max-width: 300px;
    margin: 80px auto 30px;
  }
}

.SectionTitle:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px grey;
  bottom: -3px;
  left: 0;
  width: 20%;
}

.Forward{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.Note{
  margin: 0 10px;
  text-align: center;
}

@media(min-width: 768px){
  .Note{
    max-width: 300px;
    margin: 0 auto;
  }
}
.Users{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 10px;
}

@media(min-width: 768px){
  .Users{
    max-width: 300px;
    margin: 0 auto;
  }
}
