.Auth {
    margin: 10px auto;
    width: 95%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    /* opacity: 0;
    animation-timing-function: linear;
    animation-name: fadeIn;
    animation-delay: 3s;
    animation-fill-mode: forwards; */
}
.Title{
  /* opacity: 0; */
  margin-top: 0;
  letter-spacing: 12px;
  line-height: 40px;
  font-size: 30px;
  font-family: 'Geo', sans-serif;
  text-align: center;
  /* animation-duration: 3s;
  animation-name: fadeIn; */

/*
  animation-name: fadeIn;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear; */
}

.LogoBox{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
  /* animation: korokoro 2.5s linear 0s 1; */
}
.LogoBox svg{
  /* box-shadow: 0 5px 5px #000; */
  /* box-shadow: 0 0 20px #000; */
  /* animation-name: yurayura;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; */
}

@keyframes yurayura {
  0%   { box-shadow: 0 0 5px #000; }
  10%   { box-shadow: 0 0 10px #000; }
  20%  { box-shadow: 0 0 20px #000; }
  35%  { box-shadow: 0 0 15px #000; }
  45%  { box-shadow: 0 0 10px #000; }
  50%  { box-shadow: 0 0 5px #000; }
  60%  { box-shadow: 0 0 10px #000; }
  65%  { box-shadow: 0 0 5px #000; }
  75%  { box-shadow: 0 0 20px #000; }
  100% { box-shadow: 0 0 10px #000; }
}



.LogoBox svg path{

  opacity: 0;
  animation-duration: 3s;
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.LoginBtns{

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.BackBtn{
  display: inline;
  width: 50px;
  text-align: left;
  padding: 0 10px;
  margin: 0;
  cursor: pointer;
}

p{
  margin: 0;
}
.Loading {
  margin-top: 100px;
}

@media(min-width: 768px){
  .Loading {
    margin-top: 200px;
  }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media (min-width: 768px) {
    .Auth {
        margin: 50px auto;
        width: 400px;
    }
    .LoginBtns{
      max-width: 300px;
      margin: 0 auto;
    }
    .Title{
      margin-top: 50px;
    }
}
