.Auth {
    margin: 10px auto;
    width: 95%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.Title{
  margin-top: 0;
  letter-spacing: 12px;
  line-height: 40px;
  font-size: 30px;
  font-family: 'Geo', sans-serif;
  text-align: center;
}

.LoginBtns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.BackBtn{
  display: inline;
  width: 50px;
  text-align: left;
  padding: 0 10px;
  margin: 0;
  cursor: pointer;
}

p{
  margin: 0;
}

@media (min-width: 768px) {
    .Auth {
        margin: 50px auto;
        width: 400px;
    }
    .LoginBtns{
      max-width: 300px;
      margin: 0 auto;
    }
    .Title{
      margin-top: 80px;
    }
}
